@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --white-color: #FFF;
    --black-color: #000000;
    --text-color: #333333;
    --primary-color: #0f9ddafc;
    --primary-bg:#23242a;
    --background-color:#1c1c1c;
    --header-height: 100px;
}
     
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* button */
.btn {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* phần bảng  */
.header__bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    font-size: 1em;
}

.table {
    display: block;
    width: 100%;
    font-size: 1.2em;
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
}

.table_body {
    display: block;
}
.table_body tr {
    width: 100%;
    display: flex;
}

.table_body-header {
    font-weight: 600;
}

.table_body tr td {
    width: 100%;
    padding-left: 5px;
}

tr:nth-child(2n) {
    background-color: rgba(214, 214, 214, 0.7);
}